body {
    font-family: 'Arial', sans-serif;
    background-color: #adc0d3;
    line-height: 1.6;
}

h1, h2, h5 {
    font-weight: bold;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    border-radius: 10px;
    height: 100%; 
}

header {
    background: linear-gradient(45deg, #800080, #4B0082);
}

header .slogan {
    font-size: 1.5rem;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-radius: 10px;
}

.logo-header {
    height: 150px; 
    border-radius: 10px;    
}

nav .nav-link {
    font-size: 1.1rem;
}

#about, #contact {
    background-color: #adc0d3;
    font-size: 20px;
}

#contact .container {
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #ccc;
    
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    color: white; 
    background: linear-gradient(45deg, #800080, #4B0082);
    font-weight: bold;
}

.btn-primary {
    background:#800080;
    border-color: #800080;
    border-radius: 10px;
    margin-bottom: 10px;
}

.btn-primary:hover {
    background: #4B0082; 
    border-color: #4B0082; 
}

.btn-primary:active
 {
    background:#800080;
    border-color: #800080;
}

.btn-secondary  {
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    background: linear-gradient(45deg, #800080, #4B0082);
}

.img-fluid {
    border-radius: 10px;
}